.grid--container {
  display: grid;
  grid-template-columns: 200px 200px 1fr;
  grid-template-rows: repeat(2, 300px);
  column-gap: 20px;
}

.grid-one {
  grid-column: 1 / 2;
  grid-row: 1/3;
  background-color: aqua;
}

.grid-two {
  background-color: blue;
}

.grid-three {
  background-color: orange;
}
.grid-four {
  background-color: red;
}
.grid-five {
  background-color: yellowgreen;
}

.grid-six {
  color: #fff;
  background-color: black;
}
